

            h1{
                color:rgb(15, 228, 221); 
                text-align: center;   
            }
            h3{
                text-align: center;
            }
            h4{
                text-align: center;
            }
           
            img{
                width: 400;
            }
            #thirdDiv{
                border: 3px soli black;
                height: 600px;
                width: 425px;
                background-color: transparent;
                padding: 50px;
                margin-left: auto;
                margin-right: auto;
            }

            #spanId{
            background-color: white;
              display: flex;
               flex-direction:column;
               justify-content: center;
               align-items: center;
                width: 30%;
                height: 20%; 
                font-size: 18px;
                margin-left: auto;
                margin-right: auto;
                color:rgb(55, 253, 0);
               
            }
            body {
                background-image: url(https://i.pinimg.com/originals/52/05/89/5205894da5fc652bdca73121590bbea8.jpg);
                background-size: cover;
                background-repeat:no-repeat;
                background-position: center center;
            }
            
